.sab-chat-attribute-save, .sab-chat {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  border-radius: 4px;
  font-family: $font-primary;
  font-size: $font-size-14;
  font-weight: $font-weight-bold;
  margin-bottom: 4px;
  padding: 4px;
  text-align: center;
  width: 100%;

  background-color: $c-light-gray;

  &.critical-failure, &.deprived {
    color: $c-critical-failure-dark;
    background-color: $c-critical-failure-light;
  }

  &.critical-success {
    color: $c-critical-success-dark;
    background-color: $c-critical-success-light;
  }

  &.success, &.short-rest {
    color: $c-success-dark;
    background-color: $c-success-light;
  }

  &.failure {
    color: $c-failure-dark;
    background-color: $c-failure-light;
  }
}
