.section-label {
  border-top: $border-main;
  display: block;
  margin: 0;
  padding: 4px 0;
  width: 100%;
}

.section-input {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  box-shadow: none;
  font-family: $font-serif;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  &:hover,
  &:focus {
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
}

.vertical-divider {
  border-right: $border-groove;
  align-self: stretch;
  margin: 0;
  padding: 4px;
}

.deprived-active, .danger-active {
  animation: pulsate 5s ease-in-out infinite;
  background-color: rgba(255, 0, 0, 0.1);

  @keyframes pulsate {
    0% {
      background-color: rgba(255, 0, 0, 0.1);
    }
    50% {
      background-color: rgba(255, 0, 0, 0.3);
    }
    100% {
      background-color: rgba(255, 0, 0, 0.1);
    }
  }
}

.attribute.deprived-active .vertical-divider {
  border-right: 2px groove rgba(255, 192, 192, 0.78);
}

.sheet-header {
  flex-grow: 0;
  flex-shrink: 0;

  > section {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 16px;
  }

  button {
    height: 100%;
    width: 100%;
    line-height: 1rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    i {
      margin-right: 4px;
      font-size: $font-size-16;
    }
  }

  .image {
    align-self: start;
    border: $border-groove;
    height: 100%;
    line-height: 0;
    padding: 2px;

    img {
      width: 100%;
      height: 100%;

      border: none;
      display: block;
      min-height: 200px;
      max-height: 100%;
      margin: 0;
      object-fit: cover;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    main {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 100%;

      .name-section {
        display: flex;
        flex-direction: column;

        input {
          font-size: $font-size-24;
        }
      }

      .details-section {
        display: flex;
        flex-direction: row;
        gap: 8px;

        > div {
          display: flex;
          flex-direction: column;
          width: 100%;
        }
      }

      .attributes-section {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: center;
        gap: 8px;
        width: 100%;
        text-align: center;

        > article {
          display: flex;
          flex-direction: column;
          gap: 8px;
          height: 100%;
        }

        > article, article > * {
          flex: 1;
        }

        .attribute {
          height: 92px;
          max-height: 92px;
          width: 100%;
          min-width: 100px;
          border: $border-groove;
          padding: 4px;

          .attribute-header {
            h3 {
              border-bottom: $border-main;
              font-family: $font-serif;
              font-size: $font-size-16;
              text-transform: uppercase;
            }
          }

          .attribute-content {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            input {
              font-size: $font-size-24;
            }

            label {
              font-size: $font-size-10;
              padding-top: 4px;
            }
          }
        }

        .character-armor {
          display: flex;
          flex-direction: row;
          justify-content: center;

          border: $border-groove;
          padding: 4px;
          width: 100%;

          label {
            border-bottom: $border-main;
            width: 100%;
          }

          > span {
            flex: 1;
          }

          input {
            font-size: $font-size-24;
            min-width: 50px;
            padding-bottom: 6px;
          }
        }
      }
    }

    .character-actions {
      display: flex;
      flex-direction: row;
      gap: 8px;
    }
  }
}

.sheet-body {
  margin: 8px 2%;
  width: 96%;

  textarea {
    width: 100%;
    min-height: 90px;
    resize: none;
    border: $border-groove;
  }
}

.resource {
  margin: 8px 2%;
  width: 96%;

  &.item-info {
    display: flex;
    flex-direction: row;
    gap: 8px;

    > div {
      display: flex;
      flex-direction: column;
      gap: 4px;
      flex: 1;

      label {
        font-family: $font-serif;
        font-size: $font-size-16;
      }
    }
  }
}

.character-origin {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  cursor: pointer;

  > span {
    flex: 1;
  }

  .origin-answer-title {
    max-width: 35%;
  }

  .origin-answer-description {
    flex: 0 1 100%;
    padding: 8px;
    text-align: center;

    background-color: $c-light-gray;
    border-radius: 4px;
  }
}

.abilities-container {
  padding: 16px 0px;
}

.inventory-container {
  padding: 16px 0px;
}

.spells-container {
  padding-bottom: 16px;
}

.new-ability-container, .new-item-container {
  margin-top: 32px;
}

.gold-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.character-encumbrance {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.character-gold, .character-encumbrance {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4px;

  border: $border-groove;
  padding: 4px;
  text-align: center;

  label {
    border-bottom: $border-main;
    width: 100%;
    flex: 1;
    padding: 0 16px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;

    span {
      min-width: 12px;
    }

    a {
      font-size: $font-size-12;
    }
  }

  > span {
    flex-shrink: 0;
  }

  input {
    font-size: $font-size-24;
    width: 100%;
    max-width: 100px;
    padding-bottom: 6px;
  }
}

.item-create {
  &:disabled {
    cursor: not-allowed;
  }
}
