$font-primary: 'Alegreya', serif;
$font-serif: 'Suez One', serif;

// Font sizes
$font-size-10: 0.625rem;
$font-size-11: 0.6875rem;
$font-size-12: 0.75rem;
$font-size-13: 0.8125rem;
$font-size-14: 0.875rem;
$font-size-15: 0.9375rem;
$font-size-16: 1rem;
$font-size-18: 1.125rem;
$font-size-20: 1.25rem;
$font-size-24: 1.5rem;
$font-size-28: 1.75rem;
$font-size-32: 2rem;
$font-size-36: 2.25rem;
$font-size-48: 3rem;
$font-size-64: 4rem;
$font-size-80: 5rem;

// Font weights
$font-weight-regular: 500;
$font-weight-bold: 700;
