.window-app {
  font-family: $font-primary;
  font-weight: 500;
  font-size: $font-size-16;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rollable, .attribute-save-roll {
  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}

.sheet-modal {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 0 32px;

  div {
    display: flex;
    flex-direction: column;
    gap: 2px;

    label {
      font-family: $font-serif;
    }

    input, textarea {
      width: 100%;
      height: 32px;
      padding: 8px;
      border: $border-groove;
      box-sizing: border-box;
      color: $c-dark;
      font-family: $font-primary;
      font-size: $font-size-16;

      &::placeholder {
        color: lighten($c-tan, 15%);
      }
    }

    textarea {
      resize: none;
      height: 100px;
    }
  }
}
